<footer class="p-5 bg-dark text-white text-center position-relative">
    <div class="container">
        <div class="container p-4 pb-0">
            <section class="mb-4">
                <a class="btn btn-outline-light btn-floating m-1"
                href="https://www.instagram.com/vinicius.chan_/" role="button"
                ><i class="bi bi-instagram"></i></a>
                <a class="btn btn-outline-light btn-floating m-1"
                href="https://www.linkedin.com/in/viniciuschan/" role="button"
                ><i class="bi bi-linkedin"></i></a>
                <a class="btn btn-outline-light btn-floating m-1"
                href="https://github.com/viniciuschan" role="button"
                ><i class="bi bi-github"></i ></a>
            </section>
        </div>
    </div>
    <p class="lead">Copyright &copy; 2022 Vinícius Chan</p>
</footer>
